*.csv filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text  # Added rule to track .db files with Git LFS
*.sql filter=lfs diff=lfs merge=lfs -text  # Added rule to track .sql files with Git LFS
*.zip filter=lfs diff=lfs merge=lfs -text  # Added rule to track .zip files with Git LFS
*.tar.gz filter=lfs diff=lfs merge=lfs -text  # Added rule to track .tar.gz files with Git LFS
*.tar filter=lfs diff=lfs merge=lfs -text  # Added rule to track
*.test-db filter=lfs diff=lfs merge=lfs -text  # Added rule to track .test-db files with Git LFS
*.test-db.gz filter=lfs diff=lfs merge=lfs -text  # Added rule
*.test-db filter=lfs diff=lfs merge=lfs -text
